body    {
    background-color: black;
    color: white;
    font-family: "Arial", Helvetica, sans-serif;
    text-align: center;
};

h1 {
    font-size: 3em;
    margin-top: 50px;
};

nav {
    display: flex;
}